.buttonsContainer {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.editableSpanContainer {
    min-width: 280px;
/*<svg width="276" height="36" viewBox="0 0 276 36" fill="none" xmlns="http://www.w3.org/2000/svg">*/
/*<rect x="0.5" y="0.5" width="275" height="35" rx="4.5" stroke="#D1D1D1" />*/
/*</svg>*/
}