.sendForm {
    display: flex;
    gap: 40px;
    width: 100%;
}

.textarea {
    min-width: 1120px;
    min-height: 40px;
    padding: 15px;

    border: none;
    border-radius: 20px;

    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;

    font: 400 14px "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.9);

    resize: none;
    overflow: hidden;
}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;

    font: 600 16px "Montserrat", sans-serif;
    color: #fff;
    background: #06c;
}

.button:hover {

}
.button:active {

}
